<!DOCTYPE html>
<html>
<head>
    <title>Online Playermap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            color: #EABA28;
            background-color: #000000;
        }
        
        /* Grid mode container to expand page height */
        .grid-mode::after {
            content: "";
            display: block;
            height: 200px;
        }
        #world {
            position: absolute;
            height: 732px;
            width: 966px;
            left: 50%;
            margin-left: -483px;
            background-image: url({{ config.img_base }}azeroth.jpg);
            z-index: 10;
        }
        #outland {
            visibility: hidden;
            position: absolute;
            height: 732px;
            width: 966px;
            left: 50%;
            margin-left: -483px;
            background-image: url({{ config.img_base }}outland.jpg);
            z-index: 9;
        }
        #northrend {
            visibility: hidden;
            position: absolute;
            height: 732px;
            width: 966px;
            left: 50%;
            margin-left: -483px;
            background-image: url({{ config.img_base }}northrend.jpg);
            z-index: 8;
        }
        #pointsOldworld {
            position: absolute;
            height: 732px;
            width: 966px;
            left: 50%;
            margin-left: -483px;
            z-index: 100;
        }
        #pointsOutland {
            visibility: hidden;
            position: absolute;
            height: 732px;
            width: 966px;
            left: 50%;
            margin-left: -483px;
            z-index: 99;
        }
        #pointsNorthrend {
            visibility: hidden;
            position: absolute;
            height: 732px;
            width: 966px;
            left: 50%;
            margin-left: -483px;
            z-index: 98;
        }
        
        /* Grid layout styles */
        .grid-mode #world {
            height: 732px;
            width: 966px;
            left: 50%;
            margin-left: -483px;
            top: 120px;
            background-size: 966px 732px;
        }
        .grid-mode #outland {
            height: 732px;
            width: 966px;
            left: 20%;
            margin-left: -483px;
            top: 870px;
            background-size: 966px 732px;
            visibility: visible !important;
            z-index: 9;
        }
        .grid-mode #northrend {
            height: 732px;
            width: 966px;
            left: 75%;
            margin-left: -483px;
            top: 870px;
            background-size: 966px 732px;
            visibility: visible !important;
            z-index: 8;
        }
        .grid-mode #pointsOldworld {
            height: 732px;
            width: 966px;
            left: 50%;
            margin-left: -483px;
            top: 120px;
        }
        .grid-mode #pointsOutland {
            height: 732px;
            width: 966px;
            left: 20%;
            margin-left: -483px;
            top: 870px;
            visibility: visible !important;
            z-index: 150;
            pointer-events: auto;
        }
        .grid-mode #pointsNorthrend {
            height: 732px;
            width: 966px;
            left: 75%;
            margin-left: -483px;
            top: 870px;
            visibility: visible !important;
            z-index: 150;
            pointer-events: auto;
        }
        
        /* Grid mode adjustments for other elements */
        .grid-mode #info_bottom {
            margin-top: 1650px;
            margin-bottom: 200px;
            padding-bottom: 70px;
        }
        
        /* Checkbox styling */
        #gridToggle {
            position: absolute;
            top: 50px;
            left: 50px;
            z-index: 200;
            color: #EABA28;
            font-family: arial, helvetica, sans-serif;
            font-size: 14px;
        }
        
        #gridToggle input[type="checkbox"] {
            margin-right: 8px;
            transform: scale(1.2);
        }
        
        #gridToggle label {
            cursor: pointer;
            user-select: none;
        }
        #wow {
            position: absolute;
            height: 98px;
            width: 200px;
            left: 50%;
            margin-left: -468px;
            z-index: 101;
            text-align: center;
            clear: none;
            float: none;
        }
        #info {
            position: absolute;
            height: 16px;
            width: 40px;
            left: 50%;
            margin-left: -20px;
            z-index: 102;
            text-align: center;
        }
        #info_bottom {
            position: absolute;
            height: 20px;
            width: 966px;
            left: 50%;
            margin-top: 711px;
            margin-left: -483px;
            z-index: 101;
            text-align: center;
        }
        #timer {
            font-family: arial;
            font-size: 12px;
            font-style: normal;
            text-align: center;
            font-weight: bold;
            color: #E7CF07;
            filter: Glow(Color=#000099, Strength=3);
        }
        #refresh_timer {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 200;
            font-family: arial;
            font-size: 14px;
            font-weight: bold;
            color: #EABA28;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 8px 12px;
            border-radius: 5px;
            border: 1px solid #555;
        }
        #server_info {
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 20px;
            font-style: italic;
            text-align: center;
            font-weight: bold;
            color: #FFFF99;
            filter: Glow(Color=0, Strength=3);
            padding-top: 30px;
        }
        #serverstatus {
            visibility: {{ 'visible' if config.map_show_status else 'hidden' }};
            position: absolute;
            height: 36px;
            width: 156px;
            margin-left: -78px;
            left: 50%;
            top: 97px;
            text-align: center;
            z-index: 101;
        }
        #tip {
            border: 0px solid #aaaaaa;
            left: -1000px;
            padding: 0px;
            position: absolute;
            top: -1000px;
            z-index: 150;
        }
        .statustext {
            font-weight: normal;
            color: #EABA28;
            font-family: verdana, arial, sans-serif, helvetica;
            font-size: 12px;
            font-style: normal;
            text-align: center;
            padding: 0px;
            background-image: url({{ config.img_base }}status.gif);
        }
        .tip_header {
            background: #bb0000;
            FONT-WEIGHT: bold;
            color: #FFFFFF;
            font-family: arial, helvetica, sans-serif;
            font-size: 12px;
            font-style: normal;
            text-align: center;
            padding: 0px;
        }
        .tip_head_text {
            background: rgb(50,50,50);
            FONT-WEIGHT: bold;
            color: #DDDD33;
            font-family: arial, helvetica, sans-serif;
            font-size: 12px;
            font-style: normal;
            text-align: left;
            padding: 0px;
        }
        .tip_text {
            background: #000000;
            FONT-WEIGHT: normal;
            color: #ffffff;
            font-family: arial, helvetica, sans-serif;
            font-size: 12px;
            font-style: normal;
            text-align: center;
            padding: 0px;
        }
        .tip_worldinfo {
            FONT-WEIGHT: normal;
            color: #FFFF99;
            font-family: Georgia, arial, helvetica, sans-serif;
            font-size: 12px;
            font-style: normal;
            text-align: left;
            padding: 0px;
        }
    </style>
</head>

<body onload="start()">
    <div id="refresh_timer">Next update: <span id="refresh_countdown">--</span>s</div>
    
    <div id="gridToggle">
        <input type="checkbox" id="gridModeCheckbox" onchange="toggleGridMode()">
        <label for="gridModeCheckbox">Show All Maps</label>
    </div>
    
    <div onMouseDown="showNextStatusText();" id="serverstatus">
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="156px" height="36px">
            <tr><td id="status" class="statustext"></td></tr>
        </table>
    </div>
    <div id="tip"></div>
    <div id="pointsOldworld"></div>
    <div id="pointsOutland"></div>
    <div id="pointsNorthrend"></div>
    <div id="world"></div>
    <div id="outland"></div>
    <div id="northrend"></div>
    <div id="wow">
        <!--<img src="{{ config.img_base }}realm_on.gif" id="statusIMG" style="position: absolute; border: 0px; left: 365; top: 0;" onClick="window.location.reload()">-->
        <img src="{{ config.img_base }}realm_on.gif" id="statusIMG" style="position: absolute; border: 0px; left: 50%; margin-left: 270px; top: 0;" onClick="window.location.reload()">
    </div>
    <div id="info">
        <center>
            <table valign="top" border="0" cellspacing="0" cellpadding="0" height="16">
                <tr><td id="timer"></td></tr>
            </table>
        </center>
    </div>
    <div id="info_bottom">
        <center>
            <table border="0" cellspacing="0" cellpadding="0" height="20" width="100%">
                <tr><td align="center" valign="top" id="server_info"></td></tr>
            </table>
        </center>
    </div>

    <script type="text/javascript">
        // Configuration variables from Flask
        var current_map = 0;
        
        // ===== UPDATE INTERVAL CONFIGURATION =====
        // Uncomment ONE of the following lines to set your preferred update interval:
        var time = {{ config.map_time }};              // 5 seconds (default from Flask config)
        // var time = 60;                              // 1 minute updates
        // var time = 120;                             // 2 minute updates
        // ==========================================
        
        var show_time = {{ config.map_show_time }};
        var show_status = {{ config.map_show_status }};
        var maps_count = {{ lang_defs.maps_names|length }};
        var maps_array = [{{ config.maps_for_points }}];
        var maps_name_array = {{ lang_defs.maps_names | tojson }};

        var race_name = {{ character_race | tojson }};
        var class_name = {{ character_class | tojson }};

        // Instance coordinates
        var instances_x = [];
        var instances_y = [];
        instances_x[0] = { 2:0,13:0,17:0,30:762,33:712,34:732,35:732,36:712,37:0,43:245,44:0,47:238,48:172,70:833,90:738,109:849,129:254,150:0,169:0,189:773,209:269,229:782,230:778,249:290,269:315,289:816,309:782,329:834,349:123,369:745,389:308,409:783,429:164,449:741,450:305,451:0,469:778,489:244,509:160,529:820,531:144,532:798,534:317,560:320,568:897,572:750,580:868,585:883,595:322,618:313 };
        instances_y[0] = { 2:0,13:0,17:0,30:278,33:295,34:511,35:503,36:567,37:0,43:419,44:0,47:508,48:291,70:443,90:419,109:551,129:516,150:0,169:0,189:216,209:568,229:481,230:484,249:514,269:601,289:258,309:589,329:203,349:432,369:497,389:352,409:484,429:496,449:508,450:352,451:0,469:480,489:364,509:607,529:321,531:603,532:569,534:596,560:606,568:172,572:245,580:26,585:16,595:601,618:348 };
        instances_x[1] = { 540:593,542:586,543:593,544:588,545:393,546:399,547:388,548:399,550:683,552:680,553:672,554:669,555:495,556:506,557:495,558:483,559:408,562:443,564:740,565:485 };
        instances_y[1] = { 540:399,542:398,543:405,544:402,545:355,546:350,547:353,548:357,550:226,552:215,553:210,554:239,555:569,556:557,557:545,558:557,559:489,562:239,564:567,565:204 };
        instances_x[2] = { 533:568,574:749,575:751,576:161,578:159,599:553,600:605,601:395,602:575,603:559,604:740,608:470,615:491,616:155,617:457,619:400,624:363,631:400,632:415,649:475,650:465,658:393,668:410,724:491 };
        instances_y[2] = { 533:456,574:577,575:583,576:443,578:451,599:195,600:406,601:462,602:180,603:169,604:292,608:360,615:465,616:447,617:352,619:462,624:369,631:350,632:350,649:207,650:207,658:362,668:365,724:455 };

        var fade_colors = ['C6B711','BDAF10','B7A910','B1A40F','AB9E0F','A4980E','9E920E','988C0D','92870D','8B800C','857B0B','7F750B','79700A','746B0A','6E6609','686009','625B08','5C5508','564F07','504A07','4A4406','443F05','3E3905','383404','312D04','2A2703','232002','1C1A02','141201','000000'];
        var fade_cur_color = fade_colors.length-1;
        var status_text = ['OffLine','DB connect error','uptime','max online','GM online'];
        var status_data = [1,0,0,0];
        var status_process = [];
        var status_cur_time = 0;
        var status_next_process = 0;
        var statusUpdateInterval = 50;
        var pointx;
        var pointy;

        function _status_action(text,status_data,text_type,action,time) {
            this.text_id = text;
            this.status_data = status_data;
            this.text_type = text_type;
            this.action = action;
            this.time = time;
        }

        function _coord() {
            this.x = 0;
            this.y = 0;
        }

        function _points() {
            this.map_id = 0;
            this.x = 0;
            this.y = 0;
            this.name = "";
            this.zone = "";
            this.faction = 0;
            this.single_text = "";
            this.multi_text = "";
            this.player = 0;
            this.Extention = 0;
        }

        function _multi_text() {
            this.current = 0;
            this.next = 0;
            this.first_members = [];
            this.text = [];
        }

        function _pos() {
            this.x = 0;
            this.y = 0;
        }

        function getBodyScrollTop() {
            return self.pageYOffset || (document.documentElement && document.documentElement.scrollTop) || (document.body && document.body.scrollTop);
        }

        function getBodyScrollLeft() {
            return self.pageXOffset || (document.documentElement && document.documentElement.scrollLeft) || (document.body && document.body.scrollLeft);
        }

        function get_tipxy(tip_width, tip_height, x1, y1) {
            tipxy = new _coord();
            tipxy.x = 5;
            tipxy.y = 5;
            var wd, ht;
            if(document.layers) {
                wd = innerWidth;
                ht = innerHeight;
            } else {
                wd = document.body.clientWidth;
                ht = document.body.clientHeight;
            }
            
            // Position tooltip slightly above and to the right of mouse
            if(x1+tip_width+15 < wd)
                tipxy.x = x1+15;
            else if(x1-tip_width-15 > 0)
                tipxy.x = x1-tip_width-15;
            else
                tipxy.x = wd/2-tip_width/2;
                
            // Always position above mouse cursor
            if(y1-tip_height-10 > 0)
                tipxy.y = y1-tip_height-10;
            else if(y1+tip_height+10 < ht)
                tipxy.y = y1+10;
            else
                tipxy.y = 5;
                
            return tipxy;
        }

        function getMultiText(multitext, onClick) {
            if(onClick) {
                multitext.current = multitext.next;
            }
            var ht;
            if(document.layers) {
                ht = innerHeight;
            } else {
                ht = document.body.clientHeight;
            }
            var length = multitext.text.length - multitext.current;
            var count = length;
            if((20+length*22) > ht*0.8) {
                count = Math.round((ht*0.8 - 20)/22);
                multitext.next = multitext.current + count;
                if(multitext.next == multitext.text.length)
                    multitext.next = 0;
            } else
                multitext.next = 0;
            var data = '';
            var i = 0;
            while(i < count) {
                var group_line = '';
                if(in_array(multitext.current + i, multitext.first_members))
                    group_line = '<tr><td colspan="7" bgcolor="#11FF99" height="1px"></td></tr>';
                data += group_line + '<tr class="tip_text"><td align="left">&nbsp;'+(multitext.current + i + 1)+'&nbsp;</td>'+multitext.text[multitext.current + i]+'</tr>';
                i++;
            }
            if(multitext.next > multitext.current)
                data += '<tr class="tip_text"><td align="right" colspan="7">>>>&nbsp;{{ lang_defs.click_to_next }}&nbsp;>>>&nbsp;</td></tr>';
            else if(multitext.current > 0)
                data += '<tr class="tip_text"><td align="left" colspan="7">&nbsp;<<<&nbsp;{{ lang_defs.click_to_first }}&nbsp;<<<</td></tr>';
            return data;
        }

        function tip(object, type, onClick) {
            var t, data;
            var tipxy;
            t=document.getElementById("tip");
            
            // Get current mouse position more reliably
            var mouseX, mouseY;
            if(window.event) {
                // For IE and others
                mouseX = window.event.clientX + (document.documentElement.scrollLeft || document.body.scrollLeft);
                mouseY = window.event.clientY + (document.documentElement.scrollTop || document.body.scrollTop);
            } else {
                // Use stored coordinates from mouse move
                mouseX = pointx || 0;
                mouseY = pointy || 0;
            }
            
            switch(type) {
            case 2:
                tipxy = new _coord();
                tipxy.x = mouseX + 15;
                tipxy.y = mouseY - 60;
                t.innerHTML='<table width="120" border="0" cellspacing="0" cellpadding="0" class="tip_worldinfo">'+object+'</table>';
                break;
            case 1:
                if(onClick || t.innerHTML == '') {
                    data = getMultiText(object.multi_text, onClick);
                    t.innerHTML='<table border="0" cellspacing="0" cellpadding="0"><tr class="tip_header"><td colspan="7">'+object.zone+'</td></tr><tr class="tip_head_text"><td align="center">#</td><td>&nbsp;{{ lang_defs.name }}</td><td width="25" align="center">{{ lang_defs.level }}</td><td colspan="2">{{ lang_defs.race }}</td><td colspan="2">&nbsp;{{ lang_defs.class }}</td></tr>'+data+'</table>';
                }
                tipxy = get_tipxy(t.offsetWidth, t.offsetHeight, mouseX, mouseY);
                break;
            case 0:
                var color;
                if(object.faction) {color='#D2321E';}
                else {color='#0096BE';}
                t.innerHTML='<table width="100" border="0" cellspacing="0" cellpadding="0"><tr class="tip_text"><td>&nbsp;'+object.name+'&nbsp;</td></tr><tr bgcolor="'+color+'"><td height="1px"></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="3"><tr class="tip_text"><td>'+object.single_text+'</td></tr></table></td></tr></table>';
                tipxy = get_tipxy(t.offsetWidth, t.offsetHeight, mouseX, mouseY);
                break;
            }
            t.style.left=tipxy.x + "px";
            t.style.top=tipxy.y + "px";
        }

        function h_tip() {
            var t;
            t=document.getElementById("tip");
            t.innerHTML="";
            t.style.left="-1000px";
            t.style.top="-1000px";
        }

        function get_player_position(x,y,m) {
            var pos = new _pos();
            var where_530 = 0;
            x = Math.round(x);
            y = Math.round(y);
            if(m == 530) {
                if(y < -1000 && y > -10000 && x > 5000) { //BE
                    x=x-10349; y=y+6357; where_530 = 1;
                } else if(y < -7000 && x < 0) {             //Dr
                    x=x+3961; y=y+13931; where_530 = 2;
                } else {                                    //Outland
                    x=x-3070; y=y-1265; where_530 = 3;
                }
            } else if(m == 609) {
                x=x-2355; y=y+5662;
            }
            var xpos, ypos;
            if(where_530 == 3) { //Outland
                xpos = Math.round(x * 0.051446);
                ypos = Math.round(y * 0.051446);
            } else if(m == 571) { //Northrend
                xpos = Math.round(x * 0.050085);
                ypos = Math.round(y * 0.050085);
            } else {              //Azeroth
                xpos = Math.round(x * 0.025140);
                ypos = Math.round(y * 0.025140);
            }
            switch (m.toString()) {
            case '530':
                if(where_530 == 1) {
                    pos.x = 858 - ypos; pos.y = 84 - xpos;
                } else if(where_530 == 2) {
                    pos.x = 103 - ypos; pos.y = 261 - xpos;
                } else if(where_530 == 3) {
                    pos.x = 684 - ypos; pos.y = 229 - xpos;
                }
                break;
            case '571':
                pos.x = 505 - ypos;
                pos.y = 642 - xpos;
                break;
            case '609':
                pos.x = 896 - ypos;
                pos.y = 232 - xpos;
                break;
            case '1':
                pos.x = 194 - ypos;
                pos.y = 398 - xpos;
                break;
            case '0':
                pos.x = 752 - ypos;
                pos.y = 291 - xpos;
                break;
            default:
                pos.x = 194 - ypos;
                pos.y = 398 - xpos;
            }
            return pos;
        }

        function in_array(value, arr) {
            var i = 0;
            while (i < arr.length) {
                if(value == arr[i])
                    return true;
                i++;
            }
            return false;
        }

        function getMapLayerByID(id) {
            switch(id) {
            case 0:
                return document.getElementById("world"); 
            case 1:
                return document.getElementById("outland"); 
            case 2:
                return document.getElementById("northrend"); 
            default:
                return null;
            }
        }

        function getPointsLayerByID(id) {
            switch(id) {
            case 0:
                return document.getElementById("pointsOldworld"); 
            case 1:
                return document.getElementById("pointsOutland"); 
            case 2:
                return document.getElementById("pointsNorthrend"); 
            default:
                return null;
            }
        }

        function switchworld(n) {
            // Don't switch maps if we're in grid mode
            if (document.body.classList.contains('grid-mode')) {
                return;
            }
            
            for(var i = 0; i < maps_count; i++) {
                var obj_map_layer = getMapLayerByID(i);
                var obj_points_layer = getPointsLayerByID(i);

                if(i == n) {
                    obj_map_layer.style.visibility = "visible";
                    obj_points_layer.style.visibility = "visible";
                } else {
                    obj_map_layer.style.visibility = "hidden";
                    obj_points_layer.style.visibility = "hidden";
                }
            }
        }

        function toggleGridMode() {
            var checkbox = document.getElementById('gridModeCheckbox');
            var body = document.body;
            
            if (checkbox.checked) {
                console.log("[js] Switching to grid mode");
                body.classList.add('grid-mode');
                // In grid mode, show all maps
                for(var i = 0; i < maps_count; i++) {
                    var obj_map_layer = getMapLayerByID(i);
                    var obj_points_layer = getPointsLayerByID(i);
                    obj_map_layer.style.visibility = "visible";
                    obj_points_layer.style.visibility = "visible";
                    
                    // Debug: Log point layer properties
                    console.log("[js] Point layer " + i + " visibility:", obj_points_layer.style.visibility);
                    console.log("[js] Point layer " + i + " z-index:", window.getComputedStyle(obj_points_layer).zIndex);
                }
                // Regenerate points with grid positioning
                regeneratePointsForGrid();
            } else {
                console.log("[js] Switching to single map mode");
                body.classList.remove('grid-mode');
                // Return to single map mode - show Azeroth by default
                switchworld(0);
                // Regenerate points with normal positioning
                regeneratePointsForNormal();
            }
        }

        // Store original point data for regeneration
        var originalPointsData = null;

        function regeneratePointsForGrid() {
            if (!mpoints || mpoints.length === 0) return;
            
            // Clear existing points
            for(var i = 0; i < maps_count; i++) {
                var obj = getPointsLayerByID(i);
                obj.innerHTML = '';
            }
            
            var instances = ['', '', ''];
            var groups = ['', '', ''];
            var single = ['', '', ''];
            
            // Regenerate points with original positioning (CSS handles the grid offsets)
            for(var n = 0; n < mpoints.length; n++) {
                var point = mpoints[n];
                
                if(!in_array(point.map_id, maps_array)) {
                    // Instance icons - use original positioning
                    var instX = instances_x[point.Extention][point.map_id];
                    var instY = instances_y[point.Extention][point.map_id];
                    
                    instances[point.Extention] += '<img src="{{ config.img_base }}inst-icon.gif" style="position: absolute; border: 0px; left: '+instX+'px; top: '+instY+'px;" onMouseMove="tip(mpoints['+n+'],1,false);" onMouseDown="tip(mpoints['+n+'],1,true);" onMouseOut="h_tip();mpoints['+n+'].multi_text.current=0;">';
                } else {
                    // Player/bot points - use original positions
                    if(point.player > 1) {
                        groups[point.Extention] += '<img src="{{ config.img_base }}group-icon.gif" style="position: absolute; border: 0px; left: '+point.x+'px; top: '+point.y+'px;" onMouseMove="tip(mpoints['+n+'],1,false);" onMouseDown="tip(mpoints['+n+'],1,true);" onMouseOut="h_tip();mpoints['+n+'].multi_text.current=0;" onclick="onClickNode(event, '+n+');">';
                    } else {
                        var pointImg;
                        if(point.faction)
                            pointImg = "{{ config.img_base }}horde.gif";
                        else
                            pointImg = "{{ config.img_base }}allia.gif";
                        
                        if (point.name.includes('(')) {
                            single[point.Extention] += '<img src="'+pointImg+'" style="position: absolute; border: 0px; left: '+point.x+'px; top: '+point.y+'px;" onMouseMove="tip(mpoints['+n+'],0,false);" onMouseOut="h_tip();" onclick="onClickNode(event, '+n+');">';
                        } else {
                            pointImg = "{{ config.img_base2 }}" + point.race + "-" + point.gender + ".gif";
                            single[point.Extention] += '<img src="'+pointImg+'" style="position: absolute; border: 0px; left: '+point.x+'px; top: '+point.y+'px; width: 1.5%; height: auto;" onMouseMove="tip(mpoints['+n+'],0,false);" onMouseOut="h_tip();" onclick="onClickNode(event, '+n+');">';
                        }
                    }
                }
            }
            
            // Update all point layers
            for(var i = 0; i < maps_count; i++) {
                var obj = getPointsLayerByID(i);
                obj.innerHTML = instances[i] + single[i] + groups[i];
            }
        }

        function regeneratePointsForNormal() {
            if (!mpoints || mpoints.length === 0) return;
            
            // Clear existing points
            for(var i = 0; i < maps_count; i++) {
                var obj = getPointsLayerByID(i);
                obj.innerHTML = '';
            }
            
            var instances = ['', '', ''];
            var groups = ['', '', ''];
            var single = ['', '', ''];
            
            // Regenerate points with normal positioning
            for(var n = 0; n < mpoints.length; n++) {
                var point = mpoints[n];
                
                if(!in_array(point.map_id, maps_array)) {
                    instances[point.Extention] += '<img src="{{ config.img_base }}inst-icon.gif" style="position: absolute; border: 0px; left: '+instances_x[point.Extention][point.map_id]+'px; top: '+instances_y[point.Extention][point.map_id]+'px;" onMouseMove="tip(mpoints['+n+'],1,false);" onMouseDown="tip(mpoints['+n+'],1,true);" onMouseOut="h_tip();mpoints['+n+'].multi_text.current=0;">';
                } else if(point.player > 1) {
                    groups[point.Extention] += '<img src="{{ config.img_base }}group-icon.gif" style="position: absolute; border: 0px; left: '+point.x+'px; top: '+point.y+'px;" onMouseMove="tip(mpoints['+n+'],1,false);" onMouseDown="tip(mpoints['+n+'],1,true);" onMouseOut="h_tip();mpoints['+n+'].multi_text.current=0;" onclick="onClickNode(event, '+n+');">';
                } else {
                    var pointImg;
                    if(point.faction)
                        pointImg = "{{ config.img_base }}horde.gif";
                    else
                        pointImg = "{{ config.img_base }}allia.gif";
                    
                    if (point.name.includes('(')) {
                        single[point.Extention] += '<img src="'+pointImg+'" style="position: absolute; border: 0px; left: '+point.x+'px; top: '+point.y+'px;" onMouseMove="tip(mpoints['+n+'],0,false);" onMouseOut="h_tip();" onclick="onClickNode(event, '+n+');">';
                    } else {
                        pointImg = "{{ config.img_base2 }}" + point.race + "-" + point.gender + ".gif";
                        single[point.Extention] += '<img src="'+pointImg+'" style="position: absolute; border: 0px; left: '+point.x+'px; top: '+point.y+'px; width: 1.5%; height: auto;" onMouseMove="tip(mpoints['+n+'],0,false);" onMouseOut="h_tip();" onclick="onClickNode(event, '+n+');">';
                    }
                }
            }
            
            // Update all point layers
            for(var i = 0; i < maps_count; i++) {
                var obj = getPointsLayerByID(i);
                obj.innerHTML = instances[i] + single[i] + groups[i];
            }
        }

        function scalePointsForGrid(isGrid) {
            // This function is now replaced by regeneratePointsForGrid/regeneratePointsForNormal
            // Keeping it for compatibility but it does nothing
        }

        var mpoints = [];

        function show(data) {
            console.log("[js] Processing player data...");
            if(!data) {
                var object;
                for(var i = 0; i < maps_count; i++) {
                    object = getPointsLayerByID(i);
                    object.innerHTML = '';
                }
                document.getElementById("server_info").innerHTML = '';
                return;
            }

            mpoints = [];
            var instances = [];
            var groups = [];
            var single = [];
            var points_layer = [];
            var alliance_count = [];
            var horde_count = [];

            for(var i = 0; i < maps_count; i++) {
                instances[i] = '';
                groups[i] = '';
                single[i] = '';
                alliance_count[i] = data[i][0];
                horde_count[i] = data[i][1];
            }

            var point_count=0;
            var ht;
            if(document.layers) {
                ht = innerHeight;
            } else {
                ht = document.body.clientHeight;
            }
            var group_line = '';
            var i = maps_count;

            // Fix player and map count
            var players_online_count = 0;
            var ally_players_online_count = 0;
            var horde_players_online_count = 0;
            var az_player_count = 0;
            var outland_player_count = 0;
            var northrend_player_count = 0;
            var az_player_count_a = 0;
            var outland_player_count_a = 0;
            var northrend_player_count_a = 0;
            var az_player_count_h = 0;
            var outland_player_count_h = 0;
            var northrend_player_count_h = 0;
            var starting_map = 0;

            while (i < data.length) {
                // Fix player count
                players_online_count++;

                var faction, text_col;
                if (data[i].race==2 || data[i].race==5 || data[i].race==6 || data[i].race==8 || data[i].race==10) {
                    faction = 1;
                    text_col='#D2321E';
                    // Fix player count
                    horde_players_online_count++;
                    if (data[i].map == 530)
                        outland_player_count_h++;
                    else if (data[i].map == 571)
                        northrend_player_count_h++;
                    else
                        az_player_count_h++;
                } else {
                    faction = 0;
                    text_col='#0096BE';
                    // Fix player count
                    ally_players_online_count++;
                    if (data[i].map == 530)
                        outland_player_count_a++;
                    else if (data[i].map == 571)
                        northrend_player_count_a++;
                    else
                        az_player_count_a++;
                }

                // Skip this for playerbots since bots are also considered to be players
                //if (!data[i].name.includes('(')) {
                //    console.log("[js] Found player in map: " + data[i].map);
                //    if (data[i].map === 530) {
                //        starting_map = 1;
                //    } else if (data[i].map === 571) {
                //        starting_map = 2;
                //    }
                //}

                // Fix player count
                if (data[i].map == 530)
                    outland_player_count++;
                else if (data[i].map == 571)
                    northrend_player_count++;
                else
                    az_player_count++;

                var char;
                if(data[i].dead == 1)
                    char = '<img src="{{ config.img_base }}dead.gif" style="float:center" border="0" width="18" height="18">';
                else
                    char = '<img src="{{ config.img_base2 }}'+data[i].race+'-'+data[i].gender+'.gif" style="float:center" border="0" width="18" height="18">';
                
                var n=0;
                var pos;
                if(in_array(data[i].map, maps_array)) {
                    pos = get_player_position(data[i].x,data[i].y,data[i].map);
                    while(n != point_count) {
                        if(data[i].map == mpoints[n].map_id && Math.sqrt(Math.pow(pos.x-mpoints[n].x,2)+Math.pow(pos.y-mpoints[n].y,2)) < 3)
                            break;
                        n++;
                    }
                } else {
                    while(n != point_count) {
                        if(mpoints[n].map_id == data[i].map)
                            break;
                        n++;
                    }
                }
                
                if(n == point_count) {
                    mpoints[n] = new _points();
                    mpoints[point_count].map_id = data[i].map;
                    mpoints[point_count].name = data[i].name;
                    mpoints[point_count].zone = data[i].zone;
                    mpoints[point_count].race = data[i].race;
                    mpoints[point_count].gender = data[i].gender;
                    mpoints[point_count].player = 1;
                    mpoints[point_count].Extention = data[i].Extention;
                    // Store original position data for teleport commands
                    mpoints[point_count].position_x = data[i].x;
                    mpoints[point_count].position_y = data[i].y;
                    //mpoints[point_count].position_z = 0; // Default z-coordinate (you can modify this if you have z-data)
                    mpoints[point_count].position_z = data[i].z;
                    if(in_array(data[i].map, maps_array)) {
                        mpoints[n].faction = faction;
                        mpoints[point_count].single_text = data[i].zone+'<br>'+data[i].level+' lvl<br>'+char+'&nbsp;<img src="{{ config.img_base2 }}'+data[i].cl+'.gif" style="float:center" border="0" width="18" height="18"><br>'+race_name[data[i].race]+'<br/>'+class_name[data[i].cl]+'<br/>';
                        mpoints[point_count].x = pos.x;
                        mpoints[point_count].y = pos.y;
                    } else {
                        mpoints[point_count].single_text='';
                        mpoints[point_count].x = 0;
                        mpoints[point_count].y = 0;
                    }
                    mpoints[point_count].current_leaderGuid = data[i].leaderGuid;
                    mpoints[point_count].multi_text = new _multi_text();
                    n = point_count;
                    point_count++;
                } else {
                    mpoints[n].player += 1;
                    mpoints[n].single_text = '';
                }
                
                if(!in_array(mpoints[n].map_id, maps_array) && (mpoints[n].current_leaderGuid != data[i].leaderGuid || (data[i].leaderGuid == 0 && mpoints[n].player > 1))) {
                    mpoints[n].multi_text.first_members.push(mpoints[n].player-1);
                    mpoints[n].current_leaderGuid = data[i].leaderGuid;
                }
                mpoints[n].multi_text.text[mpoints[n].player-1] = '<td align="left" valign="middle">&nbsp;'+data[i].name+'</td><td>'+data[i].level+'</td><td align="left">'+char+'</td><td align="left" style="color: '+text_col+';">&nbsp;'+race_name[data[i].race]+'</td><td align="left">&nbsp;<img src="{{ config.img_base2 }}'+data[i].cl+'.gif" style="float:center" border="0" width="18" height="18"></td><td align="left">&nbsp;'+class_name[data[i].cl]+'&nbsp;</td>';
                i++;
            }

            n=0;
            while(n!=point_count) {
                if(!in_array(mpoints[n].map_id, maps_array))
                    instances[mpoints[n].Extention] += '<img src="{{ config.img_base }}inst-icon.gif" style="position: absolute; border: 0px; left: '+instances_x[mpoints[n].Extention][mpoints[n].map_id]+'px; top: '+instances_y[mpoints[n].Extention][mpoints[n].map_id]+'px;" onMouseMove="tip(mpoints['+n+'],1,false);" onMouseDown="tip(mpoints['+n+'],1,true);" onMouseOut="h_tip();mpoints['+n+'].multi_text.current=0;">';
                else if(mpoints[n].player > 1)
                    groups[mpoints[n].Extention] += '<img src="{{ config.img_base }}group-icon.gif" style="position: absolute; border: 0px; left: '+mpoints[n].x+'px; top: '+mpoints[n].y+'px;" onMouseMove="tip(mpoints['+n+'],1,false);" onMouseDown="tip(mpoints['+n+'],1,true);" onMouseOut="h_tip();mpoints['+n+'].multi_text.current=0;" onclick="onClickNode(event, '+n+');">';
                else {
                    var point;
                    if(mpoints[n].faction)
                        point = "{{ config.img_base }}horde.gif";
                    else
                        point = "{{ config.img_base }}allia.gif";
                    
                    if (mpoints[n].name.includes('(')) {
                        single[mpoints[n].Extention] += '<img src="'+point+'" style="position: absolute; border: 0px; left: '+mpoints[n].x+'px; top: '+mpoints[n].y+'px;" onMouseMove="tip(mpoints['+n+'],0,false);" onMouseOut="h_tip();" onclick="onClickNode(event, '+n+');">';
                    } else {
                        // Show race gif instead of horde / allia gif for players
                        point = "{{ config.img_base2 }}" + mpoints[n].race + "-" + mpoints[n].gender + ".gif";
                        single[mpoints[n].Extention] += '<img src="'+point+'" style="position: absolute; border: 0px; left: '+mpoints[n].x+'px; top: '+mpoints[n].y+'px; width: 1.5%; height: auto;" onMouseMove="tip(mpoints['+n+'],0,false);" onMouseOut="h_tip();" onclick="onClickNode(event, '+n+');">';
                    }
                }
                n++;
            }

            var players_count = [0];
            var total_players_count = [0,0];

            for(i = 0; i < maps_count; i++) {
                var obj = getPointsLayerByID(i);
                obj.innerHTML = instances[i] + single[i] + groups[i];
                players_count[i] = alliance_count[i] + horde_count[i];
                total_players_count[0] += alliance_count[i];
                total_players_count[1] += horde_count[i];
            }

            // Fix player count
            total_players_count[0] = ally_players_online_count;
            total_players_count[1] = horde_players_online_count;
            players_count[0] = az_player_count;
            players_count[1] = outland_player_count;
            players_count[2] = northrend_player_count;
            console.log("[js] az player count: " + az_player_count + ", outland: " + outland_player_count + ", northrend: " + northrend_player_count);

            alliance_count[0] = az_player_count_a;
            alliance_count[1] = outland_player_count_a;
            alliance_count[2] = northrend_player_count_a;
            horde_count[0] = az_player_count_h;
            horde_count[1] = outland_player_count_h;
            horde_count[2] = northrend_player_count_h;

            document.getElementById("server_info").innerHTML= "{{ config.core_name }}" + ' | Online: <b style="color: rgb(100,100,100);" onMouseMove="tip(\'<tr><td><img src=\\\'{{ config.img_base }}hordeicon.gif\\\'></td><td><b style=\\\'color: rgb(210,50,30);\\\'>{{ lang_defs.faction[1] }}:</b> <b>\'+total_players_count[1]+\'</b></td></tr><tr><td><img src=\\\'{{ config.img_base }}allianceicon.gif\\\'></td><td><b style=\\\'color: rgb(0,150,190);\\\'>{{ lang_defs.faction[0] }}:</b> <b>\'+total_players_count[0]+\'</b></td></tr>\',2,false);" onMouseOut="h_tip();">{{ lang_defs.total }}</b> '+players_online_count+'';

            for(i = 0; i < maps_count; i++) {
                document.getElementById("server_info").innerHTML += '&nbsp;<b style="color: rgb(160,160,20); cursor:pointer;" onClick="switchworld('+i+');" onMouseMove="tip(\'<tr><td><img src=\\\'{{ config.img_base }}hordeicon.gif\\\'></td><td><b style=\\\'color: rgb(210,50,30);\\\'>{{ lang_defs.faction[1] }}:</b> <b>\'+horde_count[i]+\'</b></td></tr><tr><td><img src=\\\'{{ config.img_base }}allianceicon.gif\\\'></td><td><b style=\\\'color: rgb(0,150,190);\\\'>{{ lang_defs.faction[0] }}:</b> <b>\'+alliance_count[i]+\'</b></td></tr>\',2,false);" onMouseOut="h_tip();">'+maps_name_array[i]+'</b> '+players_count[i]+'';
            }
            // Starting map to show: outland (1) / northrend (2)
            if (!document.body.classList.contains('grid-mode')) {
                switchworld(starting_map);
            } else {
                // If in grid mode, make sure all maps are visible and regenerate points
                for(var i = 0; i < maps_count; i++) {
                    var obj_map_layer = getMapLayerByID(i);
                    var obj_points_layer = getPointsLayerByID(i);
                    obj_map_layer.style.visibility = "visible";
                    obj_points_layer.style.visibility = "visible";
                }
                regeneratePointsForGrid();
            }
            console.log("[js] Player data processed successfully");
        }

        function statusController(status_process_id,diff) {
            var action = status_process[status_process_id].action;
            if(action) {
                var obj = document.getElementById("status");
                var text_type = status_process[status_process_id].text_type;
                if(text_type == 0) {
                    var status_process_now = new Date();
                    var status_process_diff = status_process_now.getTime() - status_process_started.getTime();
                    var objDate = new Date(status_data[status_process[status_process_id].status_data]*1000 + status_process_diff);
                    var days = parseInt(status_data[status_process[status_process_id].status_data]/86400);
                    var hours = objDate.getUTCHours();
                    var min = objDate.getUTCMinutes();
                    var sec = objDate.getUTCSeconds();
                    if(hours < 10) hours = '0'+hours;
                    if(min < 10) min = '0'+min;
                    if(sec < 10) sec = '0'+sec;
                    if(days) days = days+' '; else days = '';
                    obj.innerHTML = status_text[status_process[status_process_id].text_id]+' - '+days+''+hours+':'+min+':'+sec;
                } else if(text_type == 1) {
                    obj.innerHTML = status_text[status_process[status_process_id].text_id]+' - '+status_data[status_process[status_process_id].status_data];
                } else
                    obj.innerHTML = status_text[status_process[status_process_id].text_id];
                switch(action) {
                case 1:
                    if(fade_cur_color > 0) {
                        fade_cur_color--;
                        obj.style.color = '#'+fade_colors[fade_cur_color];
                    }
                    break;
                case 2:
                    if(fade_cur_color < (fade_colors.length-1)) {
                        fade_cur_color++;
                        obj.style.color = '#'+fade_colors[fade_cur_color];
                    }
                    break;
                }
            }
            status_cur_time += diff;
            if(status_next_process || status_cur_time >= status_process[status_process_id].time) {
                if(status_next_process)
                    status_cur_time = statusUpdateInterval*fade_colors.length;
                else
                    status_cur_time = 0;
                do {
                    status_process_id++;
                    if(status_process_id >= (status_process.length))
                        status_process_id = 0;
                } while(status_next_process && status_process[status_process_id].action == 2);
                status_next_process = 0;
            }
            setTimeout('statusController('+status_process_id+','+statusUpdateInterval+')', statusUpdateInterval);
        }

        function showNextStatusText() {
            if(status_process.length > 2)
                status_next_process = 1;
        }

        var status_process_started;
        function statusInit() {
            var blinkTime = statusUpdateInterval*fade_colors.length;
            var time_to_show_uptime = {{ config.map_time_to_show_uptime }};
            var time_to_show_maxonline = {{ config.map_time_to_show_maxonline }};
            var time_to_show_gmonline = {{ config.map_time_to_show_gmonline }};

            // for first time
            if(status_process.length == 0)
                setTimeout('statusController(0,'+statusUpdateInterval+')', statusUpdateInterval);

            status_process = [];
            if(status_data[0] == 1) { // online
                if(time_to_show_uptime) {
                    status_process.push(new _status_action(2,1,0,1,time_to_show_uptime));
                    status_process.push(new _status_action(2,1,0,2,blinkTime));
                }
                if(time_to_show_maxonline) {
                    status_process.push(new _status_action(3,2,1,1,time_to_show_maxonline));
                    status_process.push(new _status_action(3,2,1,2,blinkTime));
                }
            } else if(status_data[0] == 0) { // offline
                status_process.push(new _status_action(0,0,2,1,blinkTime));
                status_process.push(new _status_action(0,0,2,2,blinkTime));
            } else { //DB connect error
                status_process.push(new _status_action(1,0,2,1,blinkTime));
                status_process.push(new _status_action(1,0,2,2,blinkTime));
            }
        }

        function load_data() {
            console.log("[js] Loading player data from API...");
            fetch('/api/players')
                .then(response => response.json())
                .then(data => {
                    console.log("[js] Received data from API");
                    if(show_status) {
                        if(data.status) {
                            if(status_data[0] != data.status.online) {
                                status_data[0] = data.status.online;
                                var obj = document.getElementById("statusIMG");
                                if(status_data[0] != 1) {
                                    obj.src = "{{ config.img_base }}realm_off.gif";
                                } else {
                                    obj.src = "{{ config.img_base }}realm_on.gif";
                                }
                            }
                            if(data.status.uptime < status_data[1] || status_data[1] == 0) {
                                status_process_started = new Date();
                                status_data[1] = data.status.uptime;
                            }
                            status_data[2] = data.status.maxplayers;
                            status_data[3] = data.status.gmonline;
                            statusInit();
                        }
                    }
                    show(data.online);
                })
                .catch(error => {
                    console.error('[js] Error loading data:', error);
                });
        }

        var then;
        function reset() {
            var ms = 0;
            then = new Date();
            then.setTime(then.getTime()-ms);
            load_data();
        }

        function display() {
            var now = new Date();
            var ms = now.getTime() - then.getTime();
            ms = time*1000-ms;
            var secondsLeft = Math.round(ms/1000);
            
            // Update both timers
            if ((show_time==1) && (time!=0)) {
                document.getElementById("timer").innerHTML = secondsLeft;
            }
            
            // Update refresh countdown timer
            var refreshTimer = document.getElementById("refresh_countdown");
            if (refreshTimer) {
                if (secondsLeft > 0) {
                    refreshTimer.innerHTML = secondsLeft;
                    refreshTimer.style.color = "#EABA28";
                } else {
                    refreshTimer.innerHTML = "Updating...";
                    refreshTimer.style.color = "#ff6600";
                }
            }
            
            if (ms<=0) {
                reset();
            }
            if (time!=0) {
                setTimeout("display();", 500);
            }
        }

        function getUpdateIntervalText() {
            if (time < 60) {
                return time + " seconds";
            } else if (time < 3600) {
                return Math.round(time/60) + " minute" + (time >= 120 ? "s" : "");
            } else {
                return Math.round(time/3600) + " hour" + (time >= 7200 ? "s" : "");
            }
        }

        function start() {
            // Fix zoom based on viewport size
            var w = window.innerWidth;
            var h = window.innerHeight;
            console.log("Viewport size:", w + "x" + h);

            // Better: fix based on physical pixel res...
            var cssW = screen.width;
            var cssH = screen.height;
            // For *physical* pixel resolution, multiply by devicePixelRatio:
            var physW = screen.width * window.devicePixelRatio;
            var physH = screen.height * window.devicePixelRatio;

            console.log("Screen (CSSpx): " + cssW + "×" + cssH + " - Physical(px): " + physW + "×" + physH);

            if (physW > 2000) {
                console.log("Setting zoom to 90%");
                // Non-standard but works in all major browsers
                document.documentElement.style.zoom = "90%";
                // Could also use a standard-transform approach
                // by wrapping everything in a container and doing:
                //var wrap = document.getElementById("zoom-wrap");
                //wrap.style.transform = "scale(0.9)";
                //wrap.style.transformOrigin = "top left";
                //wrap.style.width = (100/0.9) + "%";
            }

            // Force grid mode to false at startup
            var checkbox = document.getElementById('gridModeCheckbox');
            checkbox.checked = false;
            document.body.classList.remove('grid-mode');
            
            reset();
            
            // Start the display timer for countdown
            display();
            
            // Show update interval info
            console.log("[js] Starting AzerothCore playermap with " + getUpdateIntervalText() + " updates!");
            
            // Update the refresh timer label
            var refreshTimer = document.getElementById("refresh_timer");
            if (refreshTimer && time >= 60) {
                refreshTimer.innerHTML = 'Next update (' + getUpdateIntervalText() + '): <span id="refresh_countdown">--</span>s';
            }
            
            // Improved mouse tracking for all browsers
            document.addEventListener('mousemove', function(e) {
                pointx = e.pageX || (e.clientX + (document.documentElement.scrollLeft || document.body.scrollLeft));
                pointy = e.pageY || (e.clientY + (document.documentElement.scrollTop || document.body.scrollTop));
            });
            
            // Fallback for older browsers
            if(navigator.appName=="Netscape") {
                document.onmousemove=function(e) {
                    pointx = e.pageX;
                    pointy = e.pageY;
                    return true;
                }
            }

            // Update page every 2nd min as backup (keep this as failsafe)
            setInterval(function() { window.location.reload(); }, 120000);
        }

        function copy(text) {
            var input = document.createElement('textarea');
            input.innerHTML = text;
            document.body.appendChild(input);
            input.select();
            var result = document.execCommand('copy');
            document.body.removeChild(input);
            return result;
        }

        function onClickNode(e, pointIndex) {
            // If pointIndex is provided, use position data from mpoints
            if (typeof pointIndex !== 'undefined' && mpoints[pointIndex]) {
                var point = mpoints[pointIndex];
                // Only copy for characters with GUID (bots)
                //if (point.name.includes('(')) {
                    var copy_text = ".go xyz " + point.position_x + " " + point.position_y + " " + point.position_z + " " + point.map_id;
                    console.log("[js] COPYING TEXT: " + copy_text);
                    copy(copy_text);
                    return;
                //}
            }
            
            // Fallback to old method if pointIndex not provided or for regular players
            var t = document.getElementById("tip");
            if (t.innerHTML.includes('(')) {
                const tip_split = t.innerHTML.split("(");
                var guid = tip_split[1].split(")")[0];
                
                // Try to find the point by GUID in tooltip
                for (var i = 0; i < mpoints.length; i++) {
                    if (mpoints[i].name.includes('(' + guid + ')')) {
                        var copy_text = ".go xyz " + mpoints[i].position_x + " " + mpoints[i].position_y + " " + mpoints[i].position_z + " " + mpoints[i].map_id;
                        console.log("[js] COPYING TEXT: " + copy_text);
                        copy(copy_text);
                        return;
                    }
                }
                
                // If we can't find position data, fall back to old method
                var copy_text = ".npcb go " + guid;
                console.log("[js] COPYING TEXT (fallback): " + copy_text);
                copy(copy_text);
            }
        }
    </script>
</body>
</html>
